<div class="d-flex wrapper fadeInDown align-items-center min-vh-100">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
   <div class="my-3 fadeIn first">
      <img src="assets/img/NE.svg" height="200em" id="icon" alt="User Icon" />
    </div>

    <!-- Registro Form -->
    <form [formGroup]="registroForm" (ngSubmit)="onRegistro(registroForm.value)">
      <input type="text" id="login" class="fadeIn second" placeholder="Nombre..." formControlName="nombre">
      <input type="email" id="email" class="fadeIn second" placeholder="Email..." formControlName="email">
      <input type="password" id="password" class="fadeIn third" placeholder="Contraseña..." formControlName="password">
        <button type="submit" class="fadeIn fourth">Registrarse</button>
    </form>
    
    <!-- Remind Passowrd -->
    <hr>
    <p>¿Ya tienes una cuenta? <a class="underlineHover" [routerLink]="['/login']" > Inicia sesion</a></p>
    <div id="formFooter" class="alert alert-danger" *ngIf="mensajeError">
      <p>{{ mensajeError }}</p> 
    </div>

  </div>
</div>