<app-header></app-header>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>
<section class="blog-listing gray-bg">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-lg-8 m-15px-tb">
        <div class="row">
          <div class="col-sm-6" *ngFor="let entrada of entradas">
            <div class="blog-grid">
              <div class="blog-img">
                <a (click)="entradaInfo(entrada.id)">
                  <img src="{{ entrada.imagen }}" alt="" />
                </a>
              </div>
              <div class="blog-info">
                <h5>
                  <a href="#">{{ entrada.titulo }}</a>
                </h5>
                <p>
                  {{ entrada.descripcion }}
                </p>
                <div class="btn-bar">
                  <a href="#" class="px-btn-arrow">
                    <span>Read More</span>
                    <i class="arrow"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <div class="col-12">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" tabindex="-1"
                  ><i class="fas fa-chevron-left"></i
                ></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  >2 <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fas fa-chevron-right"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- End Pagination -->
        </div>
      </div>

      <div class="col-lg-4 m-15px-tb blog-aside">
        <!-- Autor -->

        <app-sidebar></app-sidebar>

        <!-- End widget Tags -->
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
