<app-header></app-header>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>
<section class="blog-listing gray-bg">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-lg-8 m-15px-tb">
        <div class="row">
          <div
            class="col-sm-6"
            *ngFor="
              let entrada of entradas
                | slice: (page - 1) * pageSize:page * pageSize
            "
          >
            <div class="blog-grid d-grid col-md-6 gap-1">
              <div class="blog-img">
                <a class="img-fluid" (click)="entradaInfo(entrada.id)">
                  <img src="{{ entrada.imagen }}" style="width: 100%" alt="" />
                </a>
              </div>
              <!-- <div class="d-absolute"></div> -->
              <div class="blog-info h-100">
                <h5>
                  <a (click)="entradaInfo(entrada.id)">{{ entrada.titulo }}</a>
                </h5>
                <p
                  style="
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 25ch;
                    height: max-content;
                  "
                >
                  {{ entrada.descripcion }}
                </p>
                <br />
                <hr />
                <div class="btn-bar">
                  <p>Escrito por <strong>{{ entrada.autor.nombre }}</strong></p>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
          <div class="col-sm-12 justify-content-center mt-3">
            <ngb-pagination
              class="d-flex justify-content-center"
              [(page)]="page"
              [collectionSize]="entradas.length"
            >
            </ngb-pagination>
          </div>
        </div>
      </div>

      <div class="col-lg-4 m-15px-tb blog-aside">
        <!-- Autor -->

        <app-sidebar-categorias></app-sidebar-categorias>

        <!-- End widget Tags -->
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
