<app-header></app-header>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>
<div class="blog-single gray-bg">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-lg-8 m-15px-tb">
        <article class="article" *ngFor="let item of entrada">
          <div class="article-img">
            <img src="{{ item.imagen }}" title="" alt="" />
          </div>
          <div class="p-4">
            <div class="">
              <div class="media row">
                <!-- <div class="avatar">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar1.png"
                  title=""
                  alt=""
                />
              </div> -->
                <div class="article-title col-12">
                  <h2>{{ item.titulo }}</h2>
                </div>
                <div class="media-body pb-2 col-12">
                  <label>{{ item.autor.nombre }}</label>
                  <span>{{ item.created_at }}</span>
                </div>
              </div>

              <!-- <div class="article-title">
              <h6>
                <a href="#">{{ item.categoria.nombre }}</a>
              </h6>
            </div> -->
            </div>
            <hr />
            <div class="article-content">
              <p>
                {{ item.descripcion }}
              </p>
            </div>
            <div class="nav tag-cloud">
              <label for="" class="padding">Categoria: </label>
              <a (click)="verEntradasEnCategoria(item.categoria.id)">{{
                item.categoria.nombre
              }}</a>
            </div>
          </div>
        </article>
        <div class="contact-form article-comment">
          <h4>Deja un comentario</h4>
          <form id="contact-form" method="POST">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Tu mensaje *"
                    rows="4"
                    class="form-control"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="send">
                  <button class="px-btn theme">
                    <span>Enviar</span> <i class="arrow"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 m-15px-tb blog-aside">
        <!-- Author -->
        <app-sidebar-categorias></app-sidebar-categorias>
        <!-- End widget Tags -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
