<div class="d-flex wrapper fadeInDown align-items-center min-vh-100">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="my-3 fadeIn first">
      <img src="assets/img/NE.svg" height="200em" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="email" id="login" class="fadeIn second" placeholder="Email..." formControlName="email">
      <input type="password" id="password" class="fadeIn third" placeholder="Contraseña..." formControlName="password">
      <button type="submit" class="fadeIn fourth">Iniciar sesión</button>
    </form>
    
    <!-- Remind Passowrd -->
    <div id="formFooter" class="alert alert-danger mx-2" *ngIf="mensajeError">
      <p>{{ mensajeError }}</p> 
    </div>
    <hr>
    <p>¿Eres nuevo? <a class="underlineHover" [routerLink]="['/registro']" > Registrate</a></p>

  </div>
</div>