<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
   <!--  <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> -->

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSumbit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second" placeholder="login" formControlName="email">
      <input type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password">
      <button type="submit" class="fadeIn fourth">Log In</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>