<app-header></app-header>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>
<div class="container">
  <div class="col center m-15px-tb blog-aside">
    <div class="container my-5">
      <div class="row">
        <div class="d-inline-flex">
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title">
                  <i class="fas fa-newspaper"></i> Detalles de entrada
                </h4>
                <p>
                  Escrita por:
                  <span class="fw-bold">{{ entrada[0].autor.nombre }}</span>
                </p>
                <hr />

                <form
                  [formGroup]="editarForm"
                  (ngSubmit)="actualizarEntrada(editarForm.value)"
                  enctype="multipart/form-data"
                >
                  <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input
                      type="text"
                      class="form-control"
                      id="titulo"
                      aria-describedby="usernameHelp"
                      placeholder="Introduce el nuevo titulo"
                      value="{{ entrada[0].titulo }}"
                      formControlName="titulo"
                    />
                    <!-- TODO:ADD VALUES -->
                    <small id="usernameHelp" class="form-text text-muted"
                      >Puedes cambiar el título de la entrada cuando
                      quieras</small
                    >
                  </div>
                  <div class="form-group mt-3">
                    <label for="descripcion">Descripción</label>
                    <textarea
                      id="descripcion"
                      cols="30"
                      rows="5"
                      class="form-control"
                      placeholder="Introduce la nueva descripción"
                      aria-describedby="descripcionHelp"
                      formControlName="descripcion"
                      >{{ entrada[0].descripcion }}</textarea
                    >
                    <!-- <input
                      type="text"
                      class="form-control"
                      id="descripcion"
                      aria-describedby="emailHelp"
                      placeholder="Introduce la nueva descripción"
                      value="{{ entrada[0].descripcion }}"
                    /> -->
                    <!-- TODO:ADD VALUES -->
                  </div>
                 <!--  <div class="form-group mt-3">
                    <label for="imagen">Imagen</label>
                    <input
                      type="file"
                      accept=".jpg,.png,jpeg"
                      class="form-control"
                      id="imagen"
                      aria-describedby="imagenHelp"
                      placeholder="..."
                      formControlName="imagen"
                      (change)="subirImagen($event)"
                    />
                    
                    <div *ngIf="submitted & f.image.errors" class="invalid-feedback">
                        <div *ngIf="f.image.errors.required"></div>
                    </div> 
                  </div>-->
                  <hr />
                  <!-- TODO:CAMBIAR TEXTO DE ABAJO -->

                  <div class="form-group small text-muted">
                    Todos los campos editables de esta página pueden ser
                    modificados en cualquier momento. Cuando rellenas los campos
                    estás dando tu permiso para compartir estos datos en el
                    sitio web.
                  </div>
                  <div class="mt-3">
                    <button type="submit" class="btn btn-primary">
                      Guardar cambios
                    </button>
                    <button type="reset" class="btn btn-light">Cancelar</button>
                  </div>
                </form>
                <div
                  id="formFooter"
                  class="alert alert-danger mt-3"
                  *ngIf="mensajeError"
                >
                  <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
                  <p>{{ mensajeError }}</p>
                </div>
                <div
                  id="formFooter"
                  class="alert alert-success mt-3"
                  *ngIf="mensajeOK"
                >
                  <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
                  <p>{{ mensajeOK }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
