<app-header></app-header>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>
<div class="container">
  <div class="col center m-15px-tb blog-aside">
    <div class="container my-5">
      <div class="row">
        <div class="d-inline-flex">
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title"><i class="fas fa-user"></i> Perfil</h4>
                <p>Ajustes de cuenta</p>
                <hr />

                <form>
                  <div class="form-group">
                    <label for="usuario">Nombre de usuario</label>
                    <input
                      type="text"
                      class="form-control"
                      id="usuario"
                      aria-describedby="fullNameHelp"
                      placeholder="Usuario"
                      value="Kenneth Valdez"
                    />
                    <small id="fullNameHelp" class="form-text text-muted"
                      >Your name may appear around here where you are mentioned.
                      You can change or remove it at any time.</small
                    >
                  </div>
                  <div class="form-group">
                    <label for="usuario">Correo electrónico</label>
                    <input
                      disabled
                      style="color: gray"
                      type="text"
                      class="form-control"
                      id="usuario"
                      aria-describedby="fullNameHelp"
                      placeholder="Enter your fullname"
                      value="Kenneth Valdez"
                    />
                  </div>

                  <div class="form-group">
                    <label for="location">Location</label>
                    <input
                      type="text"
                      class="form-control"
                      id="location"
                      placeholder="Enter your location"
                      value="Bay Area, San Francisco, CA"
                    />
                  </div>
                  <div class="form-group small text-muted">
                    All of the fields on this page are optional and can be
                    deleted at any time, and by filling them out, you're giving
                    us consent to share this data wherever your user profile
                    appears.
                  </div>
                  <button type="button" class="btn btn-primary">
                    Update Profile
                  </button>
                  <button type="reset" class="btn btn-light">
                    Reset Changes
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
