/* You can add global styles to this file, and also import other style files */

/* svg {
    font-family: 'Fjalla-One','Calibri', serif;
} */

 @font-face {
    font-family: 'Fjalla-One';
    src: url('assets/fonts/FjallaOne-Regular.ttf');
}