/* You can add global styles to this file, and also import other style files */

/* svg {
    font-family: 'Fjalla-One','Calibri', serif;
} */
@import '~ngx-toastr/toastr.css';

@font-face {
  font-family: "Fjalla One", sans-serif;
  src: url("assets/fonts/FjallaOne-Regular.ttf");
}
